<!doctype html>
<html ng-app="fimgApp" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funnyimg | Welcome</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/index.js"></script>
  </head>
  {% raw %}
  <body>
    
  <div scroll ng-controller="imgController" >
    <div class="row">
      <div class="large-12 columns">
        <h1>Funniest pics ever</h1>
      </div>
    </div>
    
    <div class="row">
      
      <div ng-repeat="photo in photos"
        class="large-4 columns ">
      <div class="panel pic-holdr">
        <img class="th" ng-src="{{photo.img_url}}">
        <p class="pic-descr">{{photo.description}}</p>
      </div>
     </div>
    </div>
  </div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
    {% endraw %}
</html>
